.fordform {
    display: block;
    width: 300px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

select.fordform {
    width: 310px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    /* padding-top: 30px;
    padding-bottom: 30px; */
}

.forms {
    display: block;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.lgpd {
    display: flex;
    width: 310px;
    height: 36px;
    font-size: 13px;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    text-align: justify;
    margin-bottom: 30px;
}

.lgpd p {
    font-size: 12px;
    line-height: 1.3;
    color: #6c6969;
}

.checkboxs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
}


.check_1, .check_2 {
    font-size: 13px;
    display: flex;
    align-items: center;
}


h2 {
    text-align: left;
    font-weight: 800;
}


button {
    width: 150px;
    height: 35px;
    margin-right: 8px;
    float: right;
    transition: transform 0.3s ease-out;
}

#btnEnviar:hover {
    transform: scale(1.02);
}

.titulo {
    margin-left: 8px;
}

.desabilitado, .desabilitado:hover  {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}



